body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
}
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.app-title {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.month-label {
  font-size: 1.2em;
  margin-right: 10px;
  color: #555;
}

.month-input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.month-input:focus {
  outline: none;
  border-color: #007bff;
}

.transactions-container {
  margin-bottom: 20px;
}

.statistics-container {
  margin-bottom: 20px;
}

.barchart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaf7f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.piechart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaf7f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.piechart-wrapper {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
