.combined-data-container {
  background-color: #eaf7f7;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.calendar-container {
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
